.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.cabecalho {
    grid-column: span 2;
    background-color: rgb(18, 179, 18);
}
.coluna1, .coluna2 {
    background-color: rgb(169, 220, 27);
}